    {% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center">Welcome to {{title}}</p>

    <div class="container"> 
      <div class="row">
        {% for flight in flights %}
          <div class="col col-3">
            <div class="card">
              <img src="{{ flight.thumbnail }}" class="card-img-top" alt="{{flight.origin}}"/>
              <div class="card-body">
                <p class="card-text"><b>origin:</b> {{ flight.origin }}</p>
                <p class="card-text"><b>destination:</b> {{ flight.destination }}</p>
                <p class="card-text"><b>time:</b> {{ flight.time }}</p>
                <p>
                  <form method="POST" action="/buy-ticket">
                    <div class="container">
                      <input type="hidden" name="id" value="{{flight.flight_id}}"/>
                      <div class="row gx-5">
                        <input type="submit" value="&#127915; Buy" class="col col-5"/>
                      </div>
                    </div>
                  </form>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
    
