{% extends 'base.html' %}

{% block content %}
    <h1>Company Employees</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>WhatsApp ID</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.wa_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
    
