<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión con Google Firebase</title>
    <script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-auth.js"></script>
    <!-- Cambie a la versión compatible con el navegador de Firebase -->
<script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-auth-compat.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const firebaseConfig = {
                apiKey: "AIzaSyDIKm2cthutiDkJNugf5-yTv_55dQmQUoE",
                authDomain: "whats-pulse-survey.firebaseapp.com",
                projectId: "whats-pulse-survey",
                storageBucket: "whats-pulse-survey.appspot.com",
                messagingSenderId: "1019715487749",
                appId: "1:1019715487749:web:9c9995781da56dd6b5f46c",
                measurementId: "G-CVVRH40K03"
            };

            const app = firebase.initializeApp(firebaseConfig);
            const authInstance = app.auth();

            async function login() {
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    try {
        const userCredential = await authInstance.signInWithEmailAndPassword(email, password);
        const user = userCredential.user;
        const token = await user.getIdToken();
        const form = document.getElementById('login-form');
        const input = document.getElementById('idtoken');
        input.value = token;
        form.submit();
    } catch (error) {
        console.error(error);
        alert('Error al iniciar sesión: ' + error.message);
    }
}


            document.getElementById('login-form').addEventListener('submit', function(event) {
              event.preventDefault();
              login();
            });
        });
    </script>
</head>
<body>
    <h1>Inicio de sesión con correo y contraseña en Google Firebase</h1>
    <form id="login-form" method="post" action="/login">
        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="hidden" name="idtoken" id="idtoken">
        <button type="submit">Iniciar sesión</button>
    </form>
    <p>¿No tienes una cuenta? 3 <a href="/register">Registrarse</a></p>
</body>
</html>
