{% extends 'base.html' %}

{% block content %}

    <h1 class="my-3">Encuestas Mandadas</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Whatsapp</th>
                <th>Plantilla</th>
                <th>Día y Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys_sent %}
                <tr>
                    <td>{{ survey.recipient_wa_id }}</td>
                    <td>{{ survey.template_name }}</td>
                    <td>{{ survey.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock %}